<%- include("partials/header") %>

<div class="container">	
<header class="jumbotron">
		
	<h1>
	welcome to Supercars Gallery page!!
    </h1>
		<p>
			Here we have some of the handpicked Supercars from all around the world
		</p>
	<P>
		<a class="btn-primary btn-lg" href="/newcamp">Add new supercars</a>
	</P>
</header>

   <div class="row">
		 <% camp.forEach(function(campaign){ %>
	   <div class=col-md-3 col-sm-6 col-xs-12>
				<img class="img-thumbnail" src ="<%=campaign.img%>">
			<div class="text-center">
				<h4>
				<%=campaign.name %>
			</h4>
			</div>
			
			
			 
	    </div>
	<%});%>
    </div>
</div>
<%- include("partials/footer") %>
