<DOCTYPE HTML>
	<html>
		<head>
				<title>Photography blog</title>
			<meta charset="utf-8">
	        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
			 <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="/stylesheets/landing.css">
		</head>
	<body>	
		
		<div id="landing">
			<h1> <i class="fa fa-camera" aria-hidden="true"></i> Photos for Everyone</h1>
		     <h2>
				 Images created by light falling on a photosensitive surface </h2>
	         <hr>
		    <a class="btn btn-primary" href="/campgrounds">Explore</a>
		</div>
		
<ul class="slideshow	">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
 </ul>
		

	
		
	
	



<%- include("partials/footer") %>